.navigation{
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
.navIcons{
  list-style-type: none;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  border: 1px solid black;
  height: inherit;
}
.navIconsNotActive{
  color: white;
  /* background-color: black; */
}
.navIconsActive,
.navIconsNotActive:hover{
  color: black;
  /* background-color: blue; */
}
@media screen and (min-width: 600px) {
  .navigation{
    bottom: auto;
    left: 0;
    width: fit-content;
    height: 100%;
  }
  .navIcons{
    flex-direction: column;
    
  }
}